.hero-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.header-container h2 {
    font-size: 96px;
    text-align: center;
}

.header-container p {
    font-size: 24px;
    color: #b0b0b0;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

.card-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: flex-start;
}

.recipe-card {
    flex: 1 1 400px;
    max-width: 420px;
}