.recipe-card {
    width: 400px;
    background-color: #1e1e1e;
    color: #f5f5f5;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;

    cursor: pointer;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipe-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.recipe-card-image-container:hover .recipe-card-image {
    transform: scale(1.05);
}

.recipe-card-content {
    padding: 24px;
}

.recipe-card-header {
    margin-bottom: 12px;
}

.recipe-card-title {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

.recipe-card h3 {
    text-align: center;
}

.recipe-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.recipe-detail {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #b0b0b0;
}

