.hero-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.header-container h2 {
    font-size: 96px;
    text-align: center;
}

.header-container p {
    font-size: 24px;
    color: #b0b0b0;
    text-align: center;
}

.recipe-card-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

.recipe-detail {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #b0b0b0;
}

.column-container {
    margin-top: 60px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 60px;
    border-radius: 16px;
}

.column-container h3 {
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.recipe-ingredients {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.recipe-ingredients ul {
    text-align: center;
    list-style: none;
}

.recipe-instructions {
    flex: 2
}

.recipe-instructions li {
    text-align: center;
    list-style: none;
}