nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .brand-container {
    display: flex;
    align-items: center;
}

nav h1 {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: #f5f5f5;
}