* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    background-color: #121212;
    color: #f5f5f5;
    font-family: "Inter", sans-serif;
}

.container {
    padding: 0 80px 80px 80px;
}